@keyframes rotate {
    from { transform: rotate(-10deg); }
    to   { transform: rotate(10deg); }
}

.rolling {
    animation: 3s ease-in-out 1s infinite alternate rotate;
}

.titleImage {
    height: 99%;
    // width: 50%;
    // max-width: 400px;
    background-image: url(../../assets/images/titre-koala-army.png);
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.topBanner {
    // background-image: url(../../assets/images/Banniere_top.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 30%;
}

.middleBanner {
    // background-image: url(../../assets/images/background.png);
    // background-size: cover;
    // background-position-x: center;
    // margin-top: -200px;
    // padding-top: 100px;
    // z-index: 1;
    height: 50%;
    width: 100%;
    margin: 0;
}

.bottomBanner {
    background-image: url(../../assets/images/background-color.png);
    background-size: cover;
    // margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 20%;
    margin: 0;
}

.trailer {
    // height: 100%;
    width: 100%;
    border: solid cyan 2px;
    border-radius: 2px;
}

.pff {
    background-image: url(../../assets/images/PLAY_FOR_FREE_BANNER.png);
    background-position-x: center;
    background-position-y: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 8%;
}

.dlBtn {
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    // min-height: 130px;
}

.androidBtn {
    background-image: url(../../assets/images/Download_Android.png);
}

.windowBtn {
    background-image: url(../../assets/images/Download_Windows.png);
}

@keyframes zoom {
    from { transform: scale(0.8); }
    to   { transform: scale(1); }
}

.zooming {
    animation: 1s ease-in-out 0.5s infinite alternate zoom;
}