<div class="row topBanner">
    <div class="col-12 titleImage rolling">
        &nbsp;
        <!-- <img class="rolling titleImage" src="assets/images/titre-koala-army.png" alt="titre"> -->
    </div>
</div>

<br>

<div class="row middleBanner">
    <div class="col-12 col-md-6">
        <!-- <iframe class="trailer" src="https://www.youtube-nocookie.com/embed/WpRl9EQR8Qg" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video controls autoplay class="trailer">
            <source src="assets/video/demo-trailer.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-12 col-md-5 offset-md-1 pff">
        &nbsp;
    </div>
</div>

<br>

<div class="row bottomBanner">
    <div class="col-6 col-md-3 offset-md-3">
        <a href="assets/data/Koala_Army_Demo.apk"><button mat-button class="dlBtn androidBtn"></button></a>
    </div>
    <div class="col-6 col-md-3">
        <a href="assets/data/Koala_Army_Demo.rar"><button mat-button class="dlBtn windowBtn"></button></a>
    </div>
</div>
