<!-- app/page/page.component.html -->
<div class="full-page witheBackground">
    <div class="row" style="max-height: 330px;">
        <div class="col-12">
            <img class="rolling titleImage" src="assets/images/titre-koala-army.png" alt="titre">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-6">
            <iframe class="video" src="https://www.youtube-nocookie.com/embed/WpRl9EQR8Qg?controls=0" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-12 col-md-6">
            <button mat-button class="downloadBtn zooming">  </button>
        </div>
    </div>
</div>
