.full-page {
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    // border-bottom: solid darkslategrey 1px;
    // overflow: hidden;
}

.witheBackground {
    background-image: url("../../assets/images/background.png");
    background-repeat: repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    // opacity: 60%;
}

.titleImage {
    opacity: 1;
    height: 60%;
    margin-top: 10px;
}


@keyframes rotate {
    from { transform: rotate(-10deg); }
    to   { transform: rotate(10deg); }
}

.rolling {
    animation: 3s ease-in-out 1s infinite alternate rotate;
}

.video {
    border: solid cyan 2px;
    border-radius: 2px;
    width: 100%;
    height: 56.25vw;
    max-height:  400px;
    max-width: 720px;
}

.downloadBtn {
    background-image: url("../../assets/images/ButtonDownload.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    min-height: 130px;
    // margin-top: 10%;
}

@keyframes zoom {
    from { transform: scale(0.8); }
    to   { transform: scale(1); }
}

.zooming {
    animation: 1s ease-in-out 0.5s infinite alternate zoom;
}

.row { 
    width: 100%;
    margin: 0;
    padding: 0;
}