/* You can add global styles to this file, and also import other style files */
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$koala-army-website-primary: mat-palette($mat-green);
$koala-army-website-accent: mat-palette($mat-cyan);

// The warn palette is optional (defaults to red).
$koala-army-website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$koala-army-website-theme: mat-dark-theme($koala-army-website-primary, $koala-army-website-accent, $koala-army-website-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($koala-army-website-theme);

// html, body { height: 100%; background-color: #334869; color: lightgrey; }
html, body {
    height: 100%;
    color: lightgrey;
    // background-image: url(./assets/images/background-color.png);
    background-image: url(./assets/images/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }